
@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  
  
  :root {
    /* --bg-color: theme(colors.white); */
    --text-color: theme(colors.gray.900);
    --primary-bg: theme(colors.white);
    --primary-text: theme(colors.gray.700);
    --secondary-bg: theme(colors.indigo.100);
    --secondary-text: theme(colors.indigo.800);
    --border-color: theme(colors.gray.300);
    --indigo-color: theme(colors.indigo.600);
    --indigo-hover-color: theme(colors.indigo.700);
    --red-color: theme(colors.red.600);
    --red-hover-color: theme(colors.red.800);
  }
  
  /* Override colors for dark mode */
  [data-theme="dark"] {
    --bg-color: theme(colors.gray.900);
    --text-color: theme(colors.gray.100);
    --primary-bg: theme(colors.gray.800);
    --primary-text: theme(colors.gray.200);
    --secondary-bg: theme(colors.indigo.800);
    --secondary-text: theme(colors.indigo.200);
    --border-color: theme(colors.gray.700);
    --indigo-color: theme(colors.indigo.400);
    --indigo-hover-color: theme(colors.indigo.500);
    --red-color: theme(colors.red.400);
    --red-hover-color: theme(colors.red.500);
  }
  
  /* Apply colors using CSS variables */
  .app {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .app .bg-white {
    background-color: var(--primary-bg);
    color: var(--primary-text);
  }
  
  .app .border-gray-300 {
    border-color: var(--border-color);
  }
  
  .app .bg-indigo-100 {
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
  }
  
  .app .text-indigo-800 {
    color: var(--secondary-text);
  }
  
  .app .bg-gray-100 {
    background-color: var(--primary-bg);
    color: var(--primary-text);
  }
  
  .app .text-gray-800 {
    color: var(--primary-text);
  }
  
  .app .bg-indigo-600 {
    background-color: var(--indigo-color);
  }
  
  .app .hover\:bg-indigo-700:hover {
    background-color: var(--indigo-hover-color);
  }
  
  .app .text-red-600 {
    color: var(--red-color);
  }
  
  .app .hover\:text-red-800:hover {
    color: var(--red-hover-color);
  }
  
  .app .text-gray-700 {
    color: var(--primary-text);
  }
  